@model IEnumerable<Controle.Models.Equipamento>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p class="btn bg-secondary btn-lg" style="color:bisque">
    @Html.ActionLink("Create New", "Create")
</p>
<table  class="table table-bordered">
    <tr >
        <th class="warning" style="color:black">
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th class="warning" style="color:black">
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th class="warning" style="color:black">
            @Html.DisplayNameFor(model => model.Modelo)
        </th>
        <th class="warning" style="color:black">
            @Html.DisplayNameFor(model => model.LicensaSO)
        </th>
        <th class="warning" style="color:black">
            @Html.DisplayNameFor(model => model.LicensaOFF)
        </th>
        <th class="warning" style="color:black">
            @Html.DisplayNameFor(model => model.RegData)
        </th>
        <th class="warning" style="color:black">
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th class="warning" style="color:black"></th>
    </tr>

@foreach (var item in Model) {
    <tr class="active" style="color:bisque">
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LicensaSO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LicensaOFF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegData)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td class="btn bg-secondary btn-lg" style="color:black">
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
